<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<h2>Add Employee</h2>
<form th:action="@{/addEmployee}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td>Id</td>
            <td><input th:field="*{id}" /></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><textarea th:field="*{address}" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input th:field="*{email}" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <input type="radio" th:field="*{gender}" th:value="male" />
                <label>Male</label>
                <input type="radio" th:field="*{gender}" th:value="female" />
                <label>Female</label>
            </td>
        </tr>
        <tr>
            <td>Favorite</td>
            <td>
                <ul style="list-style-type: none;">
                    <li th:each="fa : ${listFavorite}">
                        <input type="checkbox"
                               th:field="*{favorites}"
                               th:value="${fa}" />
                        <label th:text="${fa}"></label>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Position</td>
            <td>
                <select th:field="*{position}">
                    <option value=""></option>
                    <option th:each="ps : ${listPosition}"
                            th:value="${ps}" th:text="${ps}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>
